extends layout

block content
	- let params = new URL(url).searchParams;
	- let tbs = params.get('tbs');
	- let lr = params.get('lr');
	- let search = (query) => { let params = new URL(url).searchParams; for(const key in query){ params.set(key, query[key]); } ;  if(query['start'] === undefined) { params.delete('start'); !query['nfpr'] && params.delete('nfpr'); }   return '/search?' + params.toString(); };
	.container.header
		form#query(action='/search', method='get')
			p.form-item
			div.form-item
				input#search-box.text-input(placeholder="" name='q', value= q, type='text', tip='关键字', tip-msg='.info-tip', succ-msg='.info-succ', req, req-msg=".info-default" autocomplete='off')
				select(name ="tbs")
					option(value='0' selected=(tbs === '0'))  所有结果
					option(value='qdr:h' selected=(tbs === 'qdr:h')) 最近一小时
					option(value='qdr:d' selected=(tbs === 'qdr:d')) 最近一天
					option(value='qdr:w' selected=(tbs === 'qdr:w')) 最近一周
					option(value='qdr:m' selected=(tbs === 'qdr:m')) 最近一月
					option(value='qdr:y' selected=(tbs === 'qdr:y')) 最近一年
					option(value='li:1' selected=(tbs === 'li:1')) 精确匹配
				select(name ="lr")
					option(value='' selected=(lr === '')) 所有网页
					option(value='lang_zh-CN|lang_zh-TW' selected=(lr === 'lang_zh-CN|lang_zh-TW')) 中文网页
					option(value='lang_zh-CN' selected=(lr === 'lang_zh-CN')) 简体中文
				input.btn.submit-btn(type='submit', value='SO')
				span.item-info.info-succ Go
				span.item-info.info-tip alphabet
				span.item-info.info-default.page.link-group.language
					if(hl === 'en')
						span.curr EN
						a(href='#', data-hl="zh_CN")
							span.active 中文
					else
						a(href='#' data-hl="en")
							span.active EN
						span.curr 中文
				div.auto-complete-box

	.container
		.content-left
			.notice

				if(hint)
					span= ' 实际搜索: ' + hint
				if(orig)
					span= ' 还原搜索: '
						a(href= search({ q: orig, nfpr: 1}))= orig
				if(advice)
					span= ' 搜索建议: '
						a(href= search({ q: advice }))= advice
				div= total
			if(items)
				ul
					for item in items
						include item
			if(pagin)
				.page.link-group
					for pageItem in pagin
						if(pageItem.active)
							a(href= search({ q: q, start: pageItem.page}))
								span.active= pageItem.text
						else
							span.curr= pageItem.text
			if(notResult)
				div!= notResult
		.content-right
			if(relevants && relevants.length)
				div.relevants
					ul.bucket
						for relevant in relevants
							li
								.bucket-item
									a(href= search({ q: relevant }))= relevant

		.clearfix
	.container.footer

