extends layout

block content
    - let params = new URL(url).searchParams;
    - let tbs = params.get('tbs');
    - let lr = params.get('lr');
    - let search = (query) => { let params = new URL(url).searchParams; for(const key in query){ params.set(key, query[key]); } ;  if(query['start'] === undefined) { params.delete('start'); !query['nfpr'] && params.delete('nfpr'); }   return '/search?' + params.toString(); };


        form.header.container#query(action='/search', method='get')
            .logo soga
            .search-panel
                .form-item
                    input.search-box.text-input(placeholder="搜索关键字" name='q', value= q, type='text' req autocomplete='off')
                    button.submit-btn(type='submit')
                        svg.submit-icon(focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                            path(d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
                    div.auto-complete-box
            .control-panel
                select.selector(name = "hl")
                    option(value="en" selected=(hl === 'en')) English
                    option(value="zh_TW" selected=(hl === 'zh_TW')) 港台繁体
                    option(value="zh_CN" selected=(hl === 'zh_CN')) 简体中文

                select.selector(name ="tbs")
                    option(value='0' selected=(tbs === '0'))  所有结果
                    option(value='qdr:h' selected=(tbs === 'qdr:h')) 最近一小时
                    option(value='qdr:d' selected=(tbs === 'qdr:d')) 最近一天
                    option(value='qdr:w' selected=(tbs === 'qdr:w')) 最近一周
                    option(value='qdr:m' selected=(tbs === 'qdr:m')) 最近一月
                    option(value='qdr:y' selected=(tbs === 'qdr:y')) 最近一年
                    option(value='li:1' selected=(tbs === 'li:1')) 精确匹配

                select.selector(name ="lr")
                    option(value='' selected=(lr === '')) 所有网页
                    option(value='lang_zh-CN|lang_zh-TW' selected=(lr === 'lang_zh-CN|lang_zh-TW')) 中文网页
                    option(value='lang_zh-CN' selected=(lr === 'lang_zh-CN')) 简体中文
    .container
        .content-left
            .notice

                if(hint)
                    span= ' 实际搜索: ' + hint
                if(orig)
                    span= ' 还原搜索: '
                    a(href= search({q: orig, nfpr: 1}))= orig
                if(advice)
                    span= ' 搜索建议: '
                    a(href= search({q: advice}))= advice
                div= total
            if(items)
                ul
                    for item in items
                        include item
            if(pagin)
                .page.link-group
                    for pageItem in pagin
                        if(pageItem.active)
                            a(href= search({q: q, start: pageItem.page}))
                                span.active= pageItem.text
                        else
                            span.curr= pageItem.text
            if(notResult)
                div!= notResult
        .content-right
            if(relevants && relevants.length)
                div.relevants
                    ul.bucket
                        for relevant in relevants
                            li
                                .bucket-item
                                    a(href= search({q: relevant}))= relevant

        .clearfix
    .container.footer

