extends layout

block content
	.container.header

		form#query(action='/search', method='get')
			p.form-item
			div.form-item
				input#search-box.text-input(placeholder="" name='q', value= q, type='text', tip='关键字', tip-msg='.info-tip', succ-msg='.info-succ', req, req-msg=".info-default" autocomplete='off')
				input.btn.submit-btn(type='submit', value='SO')
				span.item-info.info-succ Go
				span.item-info.info-tip alphabet
				span.item-info.info-default.page.link-group.language
					if(hl === 'en')
						span.curr EN
						a(href='#', data-hl="zh_CN")
							span.active 中文
					else
						a(href='#' data-hl="en")
							span.active EN
						span.curr 中文
				div.auto-complete-box

	.container
		.content-left
			if(websiteList)
				.link-grid
					for grouplinks in websiteList
						if(!grouplinks.national || nationalDay)
							.link-row
								.link-bucket.link-title= grouplinks.title
								.link-grouplist
									for link in grouplinks.links
										a.link-bucket(href=link.href, target='_blank', class=(link.hot ? 'hot': ''))= link.title
			.notice
				span= total

				if(hint)
					span= ' 实际搜索: ' + hint
				if(orig)
					span= ' 还原搜索: '
						a(href= '/search?q='+ encodeURIComponent(orig) + '&nfpr=1')= orig
				if(advice)
					span= ' 搜索建议: '
						a(href= '/search?q=' + encodeURIComponent(advice))= advice
			if(items)
				ul
					for item in items
						include item
			if(pagin)
				.page.link-group
					for pageItem in pagin
						if(pageItem.active)
							a(href= '/search?q=' + encodeURIComponent(q) + '&start=' + pageItem.page)
								span.active= pageItem.text
						else
							span.curr= pageItem.text
			if(notResult)
				div!= notResult
		.content-right
			if(relevants && relevants.length)
				div.relevants
					ul.bucket
						for relevant in relevants
							li
								.bucket-item
									a(href= '/search?q='+ encodeURIComponent(relevant))= relevant

		.clearfix
	.container.footer

