extends layout

block content
	.container.header
	
		form#query(action='/search', method='get')
			p.form-item
			div.form-item
				input#search-box.text-input(placeholder="" name='q', value= keyword, type='text', tip='关键字', tip-msg='.info-tip', succ-msg='.info-succ', req, req-msg=".info-default" autocomplete='off')
				input.btn.submit-btn(type='submit', value='SO')
				span.item-info.info-succ Go
				span.item-info.info-tip alphabet
				span.item-info.info-default.page.link-group.language
					if(language == 'en')
						span.curr EN
						a(href='#', data-language="zh_CN")
							span.active 中文
					else
						a(href='#' data-language="en")
							span.active EN
						span.curr 中文
				div.auto-complete-box
				
	.container
		.content-left
			if(websiteList)
				.link-grid
					for grouplinks in websiteList
						.link-row
							.link-bucket.link-title= grouplinks.title
							.link-grouplist
								for link in grouplinks.links
									.link-bucket
										a(href=link.href, target='_blank')= link.title
			.notice
				span= total
				
				if(hint)
					span= ' 实际搜索: ' + hint
				if(orig)
					span= ' 还原搜索: ' 
						a(href= '/search?q='+ orig + '&nfpr=1')= orig
				if(advice)
					span= ' 搜索建议: '
						a(href= '/search?q=' + advice)= advice
			if(items)
				ul
					for item in items
						include item	
			if(pagin)
				.page.link-group 
					for pageItem in pagin
						if(pageItem.active)
							a(href= '/search?q=' + keyword + '&page=' + pageItem.page)
								span.active= pageItem.text
						else
							span.curr= pageItem.text
			if(notResult)
				div!= notResult
		.content-right
			if(relevants && relevants.length)
				div.relevants
					ul.bucket
						for relevant in relevants
							li
								.bucket-item
									a(href= '/search?q='+relevant)= relevant
			
		.clearfix
	.container.footer

