html
	head
		title alphabet 搜索
		link(rel="shortcut icon" href="/img/favicon.ico?v=2" )
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(ref="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css")
		script(src="https://cdn.bootcss.com/jquery/1.12.0/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js")")
		
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	body
		.header
			nav.navbar.navbar-inverse.navbar-fixed-top.navbar-default
				.container
					#navbar-header.navbar-header(data-turbolinks-permanent='')
						a.navbar-brand(href='/')
							img(alt="Brand" src='/img/logo.png')
					span#main-nav-menu(data-turbolinks-temporary='')
						ul.nav.navbar-nav
							li.active
								a(href='/bootstrap') 搜索
							li
								a(href='/search') 旧版
							li
								a(target='_blank', href='https://pnpardise.wicp.net/list.html') 社区
					ul.nav.user-bar.navbar-nav.navbar-right
						li
							a(href='/account/sign_up') 注册
						li
							a(href='/account/sign_in') 登录
					ul.nav.navbar-nav.navbar-right
						li.nav-search.hidden-xs.hidden-sm
							
							form.navbar-form.active(action='/v2', method='GET')
									.input-group.form-group
										span.input-group-addon sudo
										input(name="q" value=keyword).form-control
										span.input-group-btn
											button(type="submit").search.btn.btn-defalut
												i.fa.fa-search(aria-hidden="true")
												| &nbsp;
		#main.main-container.container
			.row
				.col-md-9
					if(items)
						.topics.panel.panel-default
							.panel-heading.clearfix
								.filter.pull-right
									span.l= total
									if(hint)
										span= ' 实际搜索: ' + hint
									if(orig)
										span= ' 还原搜索: ' 
											a(href= root +'?q='+ orig + '&orig=true')= orig
									if(advice)
										span= ' 搜索建议: '
											a(href= root + '?q=' + advice)= advice
						
					
							.panel-body
								ul
									for item in items
										li.search-item
											if(item.link.constructor == Array)
												div= item.title
												for link in item.link
													a(href= link.href, target='_blank')
														img(src= link.src )
											else
												a(href=item.link, target='_blank')= item.title
												div= item.description
													span
														a.soft-link(href= '/redirect?url=' + item.link, target='_blank') SNAPSHOT
										
									
							if(pagin)
								.panel-footer.clearfix
									ul.pagination
										for pageItem in pagin
											if(pageItem.active)
												li
													a(href='/v2?q=' + keyword + '&page=' + pageItem.page)= pageItem.text
											else
												li.active
													a(href='/v2?q=' + keyword + '&page=' + pageItem.page)= pageItem.text
											
					
				.sidebar.col-md-3
					if(relevants && relevants.length)
						.panel.panel-default
							.panel-heading 相关搜索
							div.list-group
								for relevant in relevants
									a.list-group-item(href= '/v2?q='+relevant)= relevant
		footer.footer 
			.container
				i.fa.fa-copyright 2016 about pn-paradise 
				| 
				a(href='mailto:609888703@qq.com') contact